<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>RationR: Here's your budget; go play!</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="me">
	<!-- Date: 2009-11-14 -->
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
	
	<style type="text/css" media="screen">
		div{
			outline:pink 1px solid;
		}
	</style>
	
	<div class="container">

			<div class="span-24 last" id="header">
				<div class="span-6">
					<h1>RationR</h1>
				</div>
				<div class="span-6 prepend-8">
					login stuff
				</div>
			</div>

		<div id="body">

			<%= yield %>

		</div>
		
	</div>

</body>
</html>